/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}

#home{
   height: 370px;
   padding: 3px 68px;
}

#home::before{
    height: 480px ;
}
#home p{
    font-size: 13px;
}

#services{
    flex-direction: column;
}

#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: 0px 56px;
}

.h-primary{
    padding: 14px;
    font-size: 1.6rem;
}