#services{
    margin: 34px;
    display: flex;
}
#ho{
    font-size: 3.3rem;
    padding: 13px;
    font-family: 'Bitter', serif;
    text-align: center
    ;
}
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 28px 35px;
    border-radius: 25px;
    background-color: rgb(248, 242, 242);
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}

.good{
    font-family: 'Bitter', serif;
    font-size: 2.0rem;
}

/* utility classes */
.h-primary{
    font-size: 3.8rem;
    padding: 13px; 
}

.h-secondary{
    font-family: 'Bitter', serif;
    font-size: 2.0rem;
    padding: 13px; 
}

.btn{
    padding: 5px 16px;
    border: 2px solid white;
    background-color: rgba(231, 123, 123, 0.402);
    color: white;
    margin: 17px;
    border-radius: 5px;
}

.btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.center{
    text-align: center;
}