footer{
    color: white;
    background-color: black;
    padding: 9px 20px;
}
/* utility classes */
.h-primary{
    font-size: 3.8rem;
    padding: 13px; 
}

.h-secondary{
    font-family: 'Bitter', serif;
    font-size: 2.0rem;
    padding: 13px; 
}

.btn{
    padding: 5px 16px;
    border: 2px solid white;
    background-color: rgba(231, 123, 123, 0.402);
    color: white;
    margin: 17px;
    border-radius: 5px;
}

.btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.center{
    text-align: center;
}